

/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
    padding-right: 50px;
    padding-left: 50px;

}
/* section public */
.public{
    justify-content: space-between;
    text-decoration: #FFFFFF;
}
.container {
    text-align:center;
    color: #FFFFFF;

}
.container-border {
    dilplay: flex;
    justify-content: last baseline;
    padding-left: 90px;
}
/* section-style-2 */
.description {
    color: #0D1321;
    text-align: center;
    padding-left: 20px;
    justify-content:left;
}
.title-fix {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 80px;
}
/* main-section */

.text {
    align-items: center;
    
}
.hero {
    text-align: center;
}
/* foot-titles */
.foot-title {
    margin-inline: 20;
    justify-items: right;
    text-decoration: #0D1321;
}